<div class="upload">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="upload_container--title">
            <input type="file" name="image">

        <div class="upload_container--title">
            <input type="text"  name="title" placeholder = "Título de la imagen">

        <div class="upload_container--title">
            <input type="text"  name="description" placeholder = "Descripción">
        </div>
        <div class="upload_container--button">
            <button>Publicar</button>
        </div>
    </form>
</div>